@import url("https://fonts.googleapis.com/css?family=Inconsolata");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Monoton");
@import url("https://fonts.googleapis.com/css?family=Galada");

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 25s ease infinite;
  font-family: "Inconsolata", monospace;
  font-size: 1.13em;
  font-weight: bold;
}

* {
	margin: 0;
	padding: 0;
  box-sizing: inherit;
}

.app {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: row nowrap;
}

*:before, *:after {
  box-sizing: inherit;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@media screen and (max-width: 700px) {
  .left-panel {
    display: none;
  }
  .menu {
    margin-left: 0px !important;
  }
  .menu .menu-title {
    margin-bottom: 10px !important;
  }
}

.monoton {
  font-family: "Monoton", "Roboto", monospace;
}

.feather {
  width: 24px;
  height: 24px;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.notif {
  user-select: none;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: #54E38E;
  min-height: 50px;
  color: #fff;
}

.notif .notif-text {
  width: 100%;
  text-align: center;
}

.notif .notif-close {
  cursor: pointer;
}

.notif svg {
  margin-left: 10px;
  margin-right: 10px;
}

.menu {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  width: 75%;
  /*min-width: 700px;*/
  /* margin-left: 18%; */
  align-items: center;
  justify-content: center;
}

.menu .menu-title {
  font-size: 30px;
  color: #fff;
  margin-bottom: 100px;
}

.menu p {
  font-weight: 300;
  color: #fff;
  font-size: 22px;
}

#words-count-dis {
  font-family: "Galada", "Roboto", monospace;
}

#start-game {
  margin-top: 60px;
}

.admin-setup a {
  margin-top: 50px;
}

/* left panel #2d2d2d */
.left-panel {
  font-family: "Roboto", monospace;
  top: 0px;
  left: 0px;
  min-width: 250px;
  height: 100vh;
  background-color: #2d2d2d;
  color: #fff;
  border-right: 2px solid #ff7b73;
  user-select: none;
  z-index: 2;
}

.left-panel .panel-state {
  font-weight: 200;
  margin: 20px 10px 10px 10px;
  padding-bottom: 10px;
  color: #959da5;
  font-size: 15px;
}

.left-panel .panel-userstate {
  color: #ff7b73;
  font-weight: 200;
  font-size: 15px;
  margin: 0px 10px 10px 10px;
}

.left-panel .panel-userstate p {
  margin-left: 10px;
  color: #e33e80;
}

.left-panel .panel-userstate p .youareadmin {
  font-size: 13px;
  color: #558bbf;
}

.left-panel .panel-title {
  font-weight: 200;
  margin: 20px 10px 10px 10px;
  padding-bottom: 20px;
  font-size: 18px;
  white-space: nowrap;

  border-bottom: 1px solid #fff;
}

.left-panel .user-list {
  margin-top: 20px;
  margin-left: 50px;
  font-weight: 200;
  font-size: 15px;
  user-select: text;
}

.left-panel .user-item {
  margin-bottom: 10px;
}

.left-panel .is-admin {
  font-size: 13px;
  color: #558bbf;
}

/* Word Panel */

.words-left {
  position: absolute;
  top: 30px;
  left: 45%;
  color: #fff;
  font-size: 30px;
  font-family: "Galada", monospace;
}

.turn {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.gwords-list {
	display: flex;
	flex-flow: column nowrap;
	margin-bottom: 20px;
}

.gwords-list .items {
	margin-top: 5px;
	margin-left: 15px;
	padding-left: 15px;
	border-left: 1px solid white;
}

.my-turn {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.word-panel-title {
  font-weight: 600 !important;
  color: #ff7b73 !important;
  font-size: 20px !important;
}

.word-panel {
  padding: 15px;
  margin-bottom: 50%;
  font-family: "Galada", "Roboto", monospace;
  font-size: 30px;
  font-weight: 300;
  color: #101832;
  background-color: #fff;
  border-radius: 15px;
  border: 2px solid #ff7b73;
}

.my-turn .my-turn-timer {
  display: flex;
  align-items: center;
  position: fixed;
  top: 20%;
  right: 20%;
  font-family: "Galada";
  font-size: 40px;
  color: #fff;
}

.my-turn .my-turn-timer svg {
  margin-left: 10px;
}

.not-your-turn .not-your-turn-timer {
  display: flex;
  align-items: center;
  font-family: "Galada";
  font-size: 60px;
  color: #fff;
}

.not-your-turn .not-your-turn-timer svg {
  margin-left: 10px;
  width: 60px;
  height: 60px;
  padding-bottom: 20px;
}

.not-your-turn {
  display: flex;
  flex-flow: column;
  align-items: center;
}

#time-over {
  margin-bottom: 30px;
}

.game-title {
  color: #fff;
  font-family: "Galada";
  font-size: 40px;
}

/* Admin menu */

.admin-settings-btn {
  width: 40px;
  height: 40px;
  background-color: white;
  position: fixed;
  right: 0px;
  top: 0px;
  color: #2d2d2d;
}
.admin-settings-btn:hover {
  background-image: linear-gradient(45deg, #00bcdd 0%, #ff00ff 100%);
  cursor: pointer;
    color: white;
}

.admin-settings-btn svg {
  margin: 5px;
  width: 30px;
  height: 30px;
}

.admin-menu {
  font-family: "Roboto", monospace;
  top: 0px;
  position: fixed;
  right: 0px;
  min-width: 250px;
  height: 100vh;
  background-color: #2d2d2d;
  color: #fff;
  border-left: 2px solid #ff7b73;
  z-index: 2;
  padding: 10px;
  overflow: auto;
}

.admin-menu .title {
  margin: 10px 10px 0px 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid white;
}

.admin-menu .subtitle {
  font-size: 16px;
  margin: 10px 10px 0px 15px;
}

.admin-menu .word-list {
  margin: 5px 15px 10px 25px;
  color: #959da5;
	max-height: 30%;
	overflow: auto;
}

.admin-menu .word-list .element {
  width: 100%;
  display: flex;
  align-items: center;
}

.admin-menu .word-list .element .word {
  padding-right: 30px;
}

.admin-menu .word-list .element .delete-item {
  right: 0px;
  cursor: pointer;
  color: white;
}

.admin-menu .word-list .element .delete-item:hover {
  color: #959da5;
}

.admin-menu .add-word {
  width: 100%;
  margin-bottom: 20px;
}

.admin-menu .btn {
  margin-left: 20px;
}

.admin-menu .menu-slider {
  transform: scale(0.8);
}
